/* ------------------トップページ---------------- */
.top-page {
  position: relative;
}

.catch {
  position: absolute;
  top: 40vh;
  left: 35%;
  width: 30%;
}

.catch2 {
  position: absolute;
  top: 120vh;
  width: 50%;
  left: 25%;
}
.catch, .catch2{
  color: white;
}

.top-page-business {
  background-color: transparent;
  width: 100%;
  padding-block: 20%;
  margin-top: 100vh;
  color:white;
}

.top-page-business a {
  margin-inline: auto;
}

.text {
  width: 65%;
  margin-inline: auto;
  margin-block: 40px;
}

.top-page-title {
  font-size: 80px;
}
.title-white{
  color: white;
}

.top-page {
  position: relative;
}

.top-page main {
  background-color: transparent;
}

.top-page-company {
  background-color: #E7EFF5;
  padding-inline: 5%;
  padding-block: 200px;
  text-align: left;
}

.company-top {
  display: inline-block;
  margin-bottom: 50px;
  color: #294C7A;
}

.company-top p:not([class]) {
  text-align: center;
}

.company-bottom {
  display: flex;
  justify-content: space-between;
  color: #294C7A;
}

.company-right {
  width: 43%;
  /* border: 1px solid red; */
}
.sp-img{
  display: none;
}

.company-left {
  width: 60%;
  padding-block: 10%;
  /* border: 1px solid blue; */
}

.company-left div p {
  font-size: 25px;
  margin-bottom: 20px;
}

.company-left .btn {
  margin-top: 30%;
  margin-inline: auto;
}

.btn {
  position: relative;
  text-align: center;
  display: block;
  height: 48px;
  width: 230px;
  text-decoration: none;
  border-radius: 24px;
  line-height: 48px;
}

.btn img {
  height: 24px;
  position: absolute;
  right: 5%;
  top: calc(50% - 12px);
}
.btn-white{
  color: white;
  border: 1px solid white;
}
.btn-navy{
  color: #294C7A;
  border: 1px solid #294C7A;
}

.slider {
  /* border: 1px solid red; */
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
}

.slick-slide  img{
  height: 100vh;
  width: 100%;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}



/* ----------------------ビジネスページ------------------------------- */
.business header {
  background-image: url(../img/Group\ 48.png);
}

.business main {
  padding: 5%;
  text-align: left;
}

.business main ul li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #00000050;
  padding-block: 5%;
  position: relative;
}

.business main ul li img {
  width: 30%;
  object-fit: contain;
}

.business-right {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.exam-top {
  display: flex;
  gap: 5%;
}

.business-number {
  color: #3B71EF;
  font-size: 40px;
}

.sp-number {
  font-size: 40px;
  display: none;
  color: #3B71EF;
  position: absolute;
  top: 4%;
  left: -4%;
}

.business-title {
  font-size: 28px;
}

.business-text {
  font-size: 20px;
  margin-block: 5%;
}

.sumarapi-top {
  color: #1B68F8;
  position: relative;
}
.arrow{
  font-size: 60px;
  width: 50%;
  text-align: center;
}

.sumarapi-result {
  font-size: 24px;
  margin-bottom: 15px;
}

.sumarapi-text {
  font-size: 20px;
}

/* --------------------------会社概要ページ--------------------- */
.company header {
  background-image: url(../img/Group\ 47.png);
}

.company main {
  padding-inline: 8%;
  padding-top: 10vh;
  padding-bottom: 20vh;
}

.company main dl {
  width: 100%;
  font-size: 24px;
}

.company main dl div {
  display: flex;
  border-bottom: 1px solid black;
  padding-block: 3%;
  text-align: left;
}

.company main dt {
  width: 40%;
}

.company main dd {
  width: 60%;
}

/* ---------------------------お問い合わせページ---------------------------- */
.contact header {
  background-image: url(../img/Group\ 46\ \(1\).png);
}

.contact main {
  height: 80vh;
  padding-block: 34vh;
}

.contact .main-title {
  font-size: 40px;
}

/* --------------------ヘッダー--------------------------------- */
header {
  color: white;
  height: 100vh;
  background-size: cover;
  width: 100%;
  position: relative;
}

.nav {
  position: fixed;
  z-index: 9;
  padding-block: 30px;
  height: 100px;
  top: 0;
  right: 0;
  width: 100%;
  padding-inline: 5%;
  border: 1px solid green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}

header nav img {
  height: 40px;
  object-fit: contain;
  vertical-align: bottom;
}

header nav ol {
  /* border: 1px solid red; */
  line-height: 40px;
  list-style: none;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header nav ol li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
}

.toggle-btn {
  display: none;
  width: 30px;
  height: 30px;
  transition: all 0.5s;
  cursor: pointer;
  position: relative;
  z-index: 7;
  border: 1px solid red;
}

.toggle-btn span {
  display: block;
  width: 100%;
  height: 1px;
  background-color: white;
  transition: all 0.5s;
  position: absolute;
}

.toggle-btn span:nth-child(1) {
  top: 25%;
}


.toggle-btn span:nth-child(2) {
  top: 75%;
}

.open .toggle-btn span:nth-child(1) {
  transform: rotate(-45deg);
  top: 50%;
  background-color: black;
}

.open .toggle-btn span:nth-child(2) {
  transform: rotate(-135deg);
  top: 50%;
  background-color: black;
}

.hamburger {
  display: none;
  height: 100vh;
  width: 100%;
  background-image: url(../img/編集済み\　ハンバーガー画像.jpg);
  background-size: cover;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  margin: 0;
  padding-inline: 10%;
}

.hamburger ul {
  /* border: 1px solid red; */
  margin-top: 50%;
  list-style: none;
}

.hamburger ul li {
  margin-bottom: 30px;
}

.hamburger ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 20px;
}

.open .hamburger {
  display: block;
}


header div {
  position: absolute;
  top: 45%;
  right: calc(50% - 180px);
  text-align: center;
  /* border: 1px solid yellow; */
  width: 360px;
  height: 160px;
}

header div .title {
  position: absolute;
  left: 0;
  top: 0;
  height: 65%;
  /* border: 1px solid red; */
  font-size: 88px;
  width: 100%;
  /* display: inline-block; */
}

header div p:not([class]) {
  position: absolute;
  top: 65%;
  right: calc(50% - 75px);
  width: 150px;
  font-size: 24px;
}

/* ------------------------------下層ページメイン----------------------------- */
main {
  background-color: #E7EFF5;
  text-align: center;
}

main p {
  font-size: 24px;
}

/* ---------------------------------------共通フッター----------------------- */
footer {
  height: 60vh;
  background-color: white;
  padding-inline: 5%;
  padding-block: 3%;
}

footer section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 90%;
  /* border: 1px solid red; */
}


footer section .footer-logo {
  width: 30%;
  height: 20%;
  /* border: 1px solid blue; */
}

footer section .footer-logo img {
  width: 100%;
  /* border: 1px solid red; */
}

footer section ol {
  margin-top: 5%;
  list-style: none;
  width: 50%;
}

footer section ol li {
  margin-bottom: 10px;
}

footer section ol li a {
  text-decoration: none;
  color: black;
  line-height: 30px;
  font-size: 24px;
}

footer p {
  text-align: center;
}

/* --------------------------共通--------------------------- */
img {
  max-width: 100%;
}

body {
  font-family: "Inter";
}

/* --------------------------------レスポンシブ---------------------------- */
@media (max-width:700px) {
  header {
    height: 50%;
    min-height: 450px;
  }

  header div .title {
    height: 50%;
    font-size: 60px;
    width: 100%;
    /* display: inline-block; */
  }

  header div p:not([class]) {
    top: 55%;
    width: 150px;
    font-size: 20px;
  }
  header nav img {
    height: 30px;
    object-fit: contain;
    vertical-align: bottom;
  }
  .nav {
    height: 50px;
    padding-block: 10px;
  }

  .nav ol {
    display: none;
  }

  .toggle-btn {
    display: block;
    right: 0;
    top:0;
  }

  footer {
    height: 40%;
  }

  footer section {
    flex-direction: column;
    height: 30%;
  }

  footer section .footer-logo {
    width: 50%;
  }

  footer section ol {
    width: 100%;
  }

  footer section ol li {
    margin-bottom: 30px;
  }

  footer section ol li a {
    line-height: 20px;
    font-size: 18px;
  }
  .company-bottom {
    flex-direction: column-reverse;
    
  }
  .company-left div p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .company-left, .company-right{
    width: 100%;
  }
  .sp-img{
    display: block;
  }
  .pc-img{
    display: none;
  }
  .top-page-title {
    font-size: 55px;
  }
  .subtitle{
    font-size: 14px;
  }
  .catch {
    left: 10%;
    width: 80%;
  }
  .catch p{
    
    font-size: 18px;
  }
  .catch2 {
    width: 70%;
    left: 15%;
    font-size: 16px;
  }
  .text {font-size: 16px;
  }

  .business main {
    padding: 10%;
  }

  .business main ul li {
    flex-direction: column;
    padding-block: 10%;
  }

  .business-right {
    width: 100%;
  }

  .business main ul li img {
    width: 100%;
  }

  .business-number {
    display: none;
  }

  .sp-number {
    display: block;
  }

  .business-title {
    font-size: 22px;
  }

  .business-text {
    font-size: 16px;
    margin-block: 5%;
  }

  .sumarapi-text {
    font-size: 16px;
  }

  .sumarapi-result {
    font-size: 20px;
  }
  
  .arrow{
    width: 100%;
    font-size: 40px;
  }

  .contact main {
    height: 20%;
    padding-block: 10%;
  }

  .contact .main-title {
    font-size: 24px;
  }

  .company main dl {
    font-size: 16px;
  }

  .company main dl div {
    flex-direction: column;
  }

  .company main dt,
  .company main dd {
    width: 100%;
  }
}